.container-fuild{
    margin: 0 !important;
    padding: 0 0 !important;
}
.theme-subtle{
    background: #f5aeb6 !important;
    color: rgb(0, 0, 0) !important;
}
.dashboard-theme{
    background: #f7818f !important;
    color: rgb(0, 0, 0) !important;
}